<div class="container">
  <%= render 'search_box' %>

  <% @books.each do |book| %>
    <div class="commic-data">
      <%= link_to(image_tag(book.medium_image_url), book.item_url) %>
      <h3><%= book.title %></h3>
      <p>発売日 : <%= book.sales_date %></p>
      <p>税込み販売価格 : <%= book.item_price %>円</p>
      <p>出版社 : <%= book.publisher_name %></p>
      <p>書籍JANコード : <%= book.isbn %></p>
    </div>
  <% end %>
</div>